@import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
.hero{
    background-image: url(../images/cow.jpg);
    height: 100vh;
    background-position: bottom center;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 76% 100%, 23% 100%);

}
.hero h1{
    text-align: center;
    color: azure;
    font-size: 100px;
    font-weight: 700;
    padding-top: 60px;
    font-family: cursive;
    letter-spacing: 30px;
}
.article ,#cow-type{
    width: 80%;
    /* margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 60px; */
    margin: 60px auto;
    /* background-color: rgb(151, 97, 201); */
    padding: 60px;
    background: linear-gradient(50deg , violet , pink , rgb(66, 66, 207) );
    
}
.article h2 ,#cow-type h2{
    text-align: center;
    font-size: 48px;
    border-bottom: 2px solid rgb(41, 41, 38);
    padding-bottom: 30px;
    margin-bottom: 60px;
    /* color: antiquewhite; */
}
.article p{
    /* color: beige; */
    font-size: 28px;
    line-height: 2em;
}
.article p .imp{
    font-size: 2em;
}
.cows{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
}
.cows div{
    width: 300px;
}
.cows img{
    width: 100%;
}
